h2{
    text-align: center;
  }
  
table{
      width: 100%;
}

.top-header{
    text-align: center;
}

.top-nav{
    background: #19202b;
}

.top-nav a{
    color: #c9d1d9;
    padding: 1em;
    display: block;
    border-radius: 15px;
    margin: 5px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
}

.top-nav a:hover{
    background-color: teal;
}

.top-nav li{
    display: inline-block;
}

.action-block{
  border: #c9d1d9 solid 2px;
  width: 70%;
  margin: 150px auto;
  border-radius: 30px;
  padding: 30px;

}

.action-block h2{
    margin-bottom: 80px;
}

.list-title{
    margin: 0 10px;
}

#table-style th:nth-child(1){
    width: 5%;
}
#table-style th:nth-child(6){
    width: 5%;
}

#table-style th:nth-child(2){
    width: 38%;
    margin: 0 ;
}

#table-style th:nth-child(3){
    width: 20%;
    margin: 0; 
}

#table-style th:nth-child(4), th:nth-child(5){
    width: 10%;
    margin: 0 ;
}

#lista{
    margin: 10px 0;
    text-align: center;
}

#lista tr{
    box-sizing: border-box;
}

#lista tbody tr{
    border-radius: 20px;
    background-color: #19202b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    width: 100%;
    padding: 10px 10px;
}

#lista tbody tr:hover{
    background-color: #1a273b;
}

#lista td:nth-child(1){
    width: 5%;
}
#lista td:nth-child(6){
    width: 5%;
}

#lista td:nth-child(2){
    width: 40%;
    margin: 0 ;
}

#lista td:nth-child(3){
    width: 20%;
    margin: 0; 
}

#lista td:nth-child(4), td:nth-child(5){
    width: 10%;
    margin: 0 ;
}
 
.action-button{
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 20px;
    height: 25px;
    background-color: #19202b;
    border: solid 1px black;
    margin-bottom: 10px;
    border-radius: 15px;
    color: #c9d1d9;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
}

.action-button:hover{
    background-color: teal;
}

#lista input[type='text'] {
    border: none;
    width: 80%;
}

input[type='button']{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}

button{
    cursor: pointer;
}

input[type=checkbox]{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.todo__new-item{
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 80px;
}
.todo__new-item input{
    border-radius: 15px;
    width: 96%;
    outline: none;
    padding: 15px 15px;
    border: none;
    margin-right: 10px;
    margin-bottom: 20px;
}

.todo__new-item input[type='date']{
    padding: 13px 15px;
}

.todo__new-item button{
    border-radius: 15px;
    padding: 15px 30px;
    border: none;
}

#button-block{
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;

}

#button-block input[type='button']{
    width: 20%;
    height: 45px;
    border-radius: 15px;
    font-weight: bolder;
    border: none;
}

.btn-delete{
    font-size: 1.4em;
    border: none;
}

.tag{
    background-color: rgb(2, 59, 59);
    border-radius: 30px;
    padding: 5px 10px;
    line-height: 2;
    text-transform: lowercase;
    font-style: normal;
}


.tag:hover{
    border: #c9d1d9 solid 1px;
}





