h2{
    text-align: center;
  }
  
table{
      width: 100%;
}

.top-header{
    text-align: center;
}

.top-nav{
    background: #19202b;
}

.top-nav a{
    color: #c9d1d9;
    padding: 1em;
    display: block;
    border-radius: 15px;
    margin: 5px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
}

.top-nav a:hover{
    background-color: teal;
}

.top-nav li{
    display: inline-block;
}

.action-block{
  border: #c9d1d9 solid 2px;
  width: 70%;
  margin: 150px auto;
  border-radius: 30px;
  padding: 30px;

}

.action-block h2{
    margin-bottom: 80px;
}

#table-style th:nth-child(2), th:nth-child(3), th:nth-child(4), th:nth-child(5){
    width: 30%;
    margin: 0 30px;
}

#lista{
    width: 100%;
}

#lista tr{
    display: flex;
    text-align: center;
    align-items: center;
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #19202b;
}

#lista tr:hover{
    background-color: teal;
}

#lista td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(5) {
    width: 30%;
    margin: 0 30px;
}

#list-title tr{
    border: red solid 2px;
    display: flex;
    justify-content: space-between;
}   

.action-button{
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 20px;
    height: 25px;
    background-color: #19202b;
    border: solid 1px black;
    margin-bottom: 10px;
    border-radius: 15px;
    color: #c9d1d9;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.action-button:hover{
    background-color: teal;
}

#lista input[type='text'] {
    border: none;
    width: 80%;

}

input[type='button']{
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

input[type=checkbox]{
    width: 25px;
    height: 25px;
}

input[type=checkbox]:checked + #lista td:nth-child(2){
    text-decoration: line-through;
}

.todo__new-item{
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 80px;
}
.todo__new-item input{
    border-radius: 15px;
    width: 96%;
    outline: none;
    padding: 15px 15px;
    border: none;
    margin-right: 10px;
    margin-bottom: 20px;
}

.todo__new-item button{
    border-radius: 15px;
    padding: 15px 30px;
    border: none;
}

#button-block{
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;

}

#button-block input[type='button']{
    width: 20%;
    height: 45px;
    border-radius: 15px;
    font-weight: bolder;
}






